@page "/"
@using BooruApi
@using BooruViewer.Services
@using BooruViewer.ServicesJs

@inject JavascriptInteropHelper JavascriptInteropHelper
@inject GelbooruService GelbooruService

@code {
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        JavascriptInteropHelper.OnScroll += OnScroll;
        await UpdateSearch();
    }

    public void Dispose()
    {
        JavascriptInteropHelper.OnScroll -= OnScroll;
    }
}

<div class="navbar">
    <!-- permanent part -->
    <div class="flex-position-workaround"></div>
    <div class="toggle-nav-bar" @onclick="ToggleNavMenu">
        <i class="ti ti-menu-2"></i>
    </div>
    <!-- sometimes hidden part -->
    <div class="@NavMenuCssClass">
        <!--search-settings-->
        <TokenizedAutocompolete SelectedTags="GelbooruPostQueryHelper.Tags" OnTagsChanged="OnTagsChanged"></TokenizedAutocompolete>
    </div>
    <div class="@NavMenuCssClass">
        <RatingFilter SelectedValue="GelbooruPostQueryHelper.Rating.PostRating" OnRatingChange="OnRatingChanged"></RatingFilter>
    </div>
    <div class="@NavMenuCssClass">image size placeholder</div>
    <div class="@NavMenuCssClass">
        board selector placeholder
        maybe local favourites too?
    </div>
</div>

@code {
    private string NavMenuCssClass { get; set; } = "search-settings";

    private void ToggleNavMenu()
    {
        if (NavMenuCssClass.Contains(" hidden"))
        {
            NavMenuCssClass = NavMenuCssClass.Replace(" hidden", "");
        }
        else
        {
            NavMenuCssClass += " hidden";
        }
    }

    private async void OnTagsChanged(List<string> tagsRaw)
    {
        var tags = TagsFromStingIEnumerable(tagsRaw);

        GelbooruPostQueryHelper.Tags = tags;

        await UpdateSearch();
    }

    public async void OnRatingChanged(GelbooruPostRating Rating)
    {
        GelbooruPostQueryHelper.Rating.PostRating = Rating;

        await UpdateSearch();
    }

    private async void OnScroll(int positionX, int currentScrollTopPosition)
    {
        var currentScrollBottomPosition = currentScrollTopPosition + JavascriptInteropHelper.Size.Y;
        var maxScrollHeight = await JavascriptInteropHelper.GetMaxScrollHeight();

        // Phones Are Weird => I don't even know why this works
        var loadNewPagePosition = maxScrollHeight - (JavascriptInteropHelper.Size.Y);

        if (currentScrollBottomPosition < loadNewPagePosition)
        {
            // Do nothing
            return;
        }

        // Validations are made inside
        if (!await GelbooruService.LoadNextPage(GelbooruPostQueryHelper))
        {
            // Does not need ui refreshing
            return;
        }

        StateHasChanged();
    }
}

<div class="content">
    @if (GelbooruService.LastPostResponse == null || IsLoadingNewSearch)
    {
        <h1>Loading...</h1>
    }
    else
    {
        if (GelbooruService.LastPostResponse.Attributes.Count == 0)
        {
            <h1>No Results</h1>
        }
        else
        {
            @foreach (var item in GelbooruService.Posts)
            {
                <BooruPost Post="@item"></BooruPost>
            }
        }
    }
</div>

@code {
    private GelbooruPostQueryHelper GelbooruPostQueryHelper { get; set; } = InitializeGelbooruPostQueryHelper("lappland_(arknights)");

    public static GelbooruPostQueryHelper InitializeGelbooruPostQueryHelper(string tagsRaw)
    {
        var tags = TagsFromStingIEnumerable(tagsRaw.Split(' '));

        var GelbooruPostQueryHelper = new GelbooruPostQueryHelper()
        {
            Tags = tags,
            Limit = 20,
            Page = 0,
            //Sort = new Sort()
            //{
            //    Type = SortType.Random,
            //},
            Rating = new RatingGelbooru()
            {
                PostRating = GelbooruPostRating.General,
            },
        };

        return GelbooruPostQueryHelper;
    }

    private static List<Tag> TagsFromStingIEnumerable(IEnumerable<string> tagsRaw)
    {
        var tags = new List<Tag>();

        foreach (var item in tagsRaw)
        {
            tags.Add(new Tag()
                {
                    Value = item,
                });
        }

        return tags;
    }

    public bool IsLoadingNewSearch = false;

    public async Task UpdateSearch()
    {
        IsLoadingNewSearch = true;

        GelbooruService.ClearLoadedResults();

        await GelbooruService.LoadPosts(GelbooruPostQueryHelper);

        IsLoadingNewSearch = false;

        StateHasChanged();

        await JavascriptInteropHelper.SetScroll(new Point() { X = 0, Y = 0, });
    }
}